<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <style>
            #app {
                opacity: 0;
                transition: all 250ms;
            }
        </style>
        {# <link rel="stylesheet" href="{{ mix('css/main.css') }}" media="none" onload="if(media!='all')media='all'"> #}
        {{ craft.vite.script("/src/js/app.ts") }}
    </head>
    <body>
        <div id="app">
            {% block content %}
                No Block Content Defined
            {% endblock %}
        </div>

        <script>
            // Fall back for long page load
            function fallBack () {
                setTimeout(function () {
                    var app = document.getElementById('app');
                    if (app) { app.style.opacity='1.0'; }
                }, 2500);
            }
            fallBack();
        </script>
    </body>
</html>