<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{{ mix('css/main.css') }}">
    </head>
    <body>
        {% block content %}
            No Block Content Defined
        {% endblock %}
        <script src="{{ mix('js/main.js') }}"></script>
    </body>
</html>