{% extends "layouts/_default" %}

{% block content %}

<section class="flex items-center justify-center w-screen h-screen m-0">
  <div class="max-w-2xl p-8">
    <h1 class="mb-6 text-4xl text-center">Hello, world!</h1>
    <p class="mb-6 text-center">Thank you for using our starter kit! If you are seeing this message, you were able to get everything up and running!</p>
    <hello-world />
  </div>
</section>

{% endblock %}