{% extends "layouts/_default" %}

{% block content %}

<section class="w-screen h-screen m-0 flex items-center justify-center">
  <div class="max-w-2xl p-8">
    <h1 class="text-center text-4xl mb-6">Hello, world!</h1>
    <p class="text-center">Thank you for using our starter kit! If you are seeing this message, you were able to get everything up and running!</p>
    <div id="app"></div>
  </div>
</section>

{% endblock %}